*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #444;
}

a {
  text-decoration: none;
  color: inherit;
}

header, section, footer {
  padding: 20px 0;
  border-bottom: 1px solid blueviolet;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}

.clean-list {
  list-style: none;
  padding-left: 0;
}

.clean-list li {
  display: inline-block;
}

.flex-hijos {
  background: darkblue;
  height: 300px;
  margin-bottom: 30px;
  color: white;
}

@media (min-width: 960px) {
  .flex-hijos {
    width: calc((100% / 2) - 15px);
  }
}

/* 1- Crear media query para que los estilos flexbox solo se apliquen
en la version desktop */
@media (min-width: 960px) {
  .flex-container {
    display: flex;
  }

  header .flex-container {
    justify-content: space-between;
    align-items: center;
  }

  #section-1 .flex-container {
    flex-direction: column;
    padding-right: 100px;
  }

  #section-2 .flex-container{
    flex-wrap: wrap;
    justify-content: space-between;

  }

  .flex-hijos {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #section-3 .flex-container {
    justify-content: space-between;
  }

  #section-3 .text-container {
    margin-left: 30px;
  }

  footer .flex-container {
    justify-content: space-between;
    align-items: center;

  }  

  footer .legales,
  footer .redes {
    width: calc((100% / 2) - 15px);
  }
  .redes {
    text-align: right;
  }
}

/*
Sección 3
La imagen de esta sección debe estar posicionada en relación a su contenedor
unos 60px desde arriba.
*/